<% content_for :title do %>About<% end  %>
<h3>About Foobar Kadigan</h3>
<p>He was born in Waikikamuka, New Zealand. He left Ne Zealand for ENgland, excelled athe the University of Mopery,
and served in the the Royal Laomshire Regiment. While in the service, he invented the kanuten vlve used in the processing of unobtainium
for industrial use. With a partner, Granda Fairbook, he founded Acme Manufacturing, later aquired by the Advent Corporation, to
develop his discovery for use in the Turboencabulator. Mr Kadigan is now retired and lives in Middlehampton
with a favorite cat, which he rases with Griadium frieda and collects metasyntactic variables.</p>
<p>His favorite quotation is: </p>

